iframe {
    float: left;
    width: 500px;
    height: 400px;
}

.mapouter {
    position:relative;
    margin-left:8px;
    text-align:right;
    width:600px;
    height:500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:600px;
    height:500px;
}

.icon {
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
}
