
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn*/
.banner {
  background-image: url('pildid/pilt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
}
button {
  border: none;
  color: white;
  text-align: center;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #202020;
}

button:hover {
    background-color: #3f3f3f;
    box-shadow: 0px 2px 60px 5px #3f3f3f;
}
button a {
padding: 20px 25px;
}

.container {
  border: 2px solid #f2f2f2;;
  box-shadow: 0 0 10px 10px rgba(0,0,0, 0.2);
  background-color: rgba(0,0,0, 0.2);
  left: 500px;
  top: 350px;
  height: auto;
  width: auto;
  position: absolute;
  background-color: clear;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px 20px;
}
.container2 {
  top: 650px;
  margin:0px;
  left: 820px;
  height: 50px;
  position: absolute;
}
h1 {
font-size: 50px;
}
h3 {
font-size: 20px;
}
.sisu {
    text-align: center;
    color: white;'
}

.bottombar2 {
    bottom:0;
    right:0;
    left:0;
    top:905px;
    position:relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
