/*Siia tuleb terve lehe ühine CSS*/

body {
    background-color: lightgray;
    margin:0px;
}

p, h2 {
    margin-left: 8px;
}

.navbar {
    top:0;                  
    position: relative;     
    list-style-type: none;
    margin: 6px 8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

.navbar-item {
    float: left;
    }

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
/* Muuda lingi värvi hoverimisel */
.navbar-item a:hover {
    background-color: #111;
    }

/* Muuda lingi värv peale aktiveerimist */
.active {
    background-color: #111 ;
}

.bottombar {
    bottom:0;
    right:0;
    left:0;                  
    position:static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

.bottombar-item-left {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.bottombar-item-right {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.bottombar-item-right img {
    width:14px;
    height:14px;
}