/*Siia tuleb terve lehe ühine CSS*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
/*üldised asjad*/
body {
    background-color: #333;
    margin:0px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    zoom: 110%;
}
.wrapper {
    min-height: 100%;
}

/* Siin sees on elemendid mis ei ole navigatsioonimenüü või footer */
.page-content {
    margin-left: 8px;
 }

/*erinevad tekstide suurused jne, mida kasutati*/
    a {
        color: white;
        text-decoration: none;}
    h1 {
        font-size: 60px;}
    h2 {
      display:flex;
      justify-content: center;
      color: white;
      font-size: 35px;}
    h3 {
        font-size: 20px;}
    h4{
        font-size: 30px;
        margin: 0px;}
    h5{
        font-size: 30px;
        margin-left: 8px;}
     h6{
      font-size: 26px;
      text-align: center;
      color: #222f3e;
      margin: 0;}

/*navigatsiooni riba*/
.navbar {
    top:0;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

/* Navigatsioonimenüü nupud */
.navbar-item {
    float: left;
    }

/* Navigatsioonimenüü lingid */
.navbar-item a {
    font-size:18px;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    }

/*navigatsiooniriba kriipsu idee: https://stackoverflow.com/questions/54616139/how-to-animate-underline-from-left-to-right*/
.kriips {
  display: inline-block;
  padding-bottom:0px;
  background: linear-gradient(to right, #FFF,#FFF,#FFF);
  background-position: 0 100%;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}
.kriips:hover {
  background-position: 100% 100%;
  background-size: 100% 3px;
}

/*alumine info riba*/
/**/
.bottombar {
    bottom:0;
    right:0;
    left:0;
    position:relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    clear:both;
    }

/* Footeri vasakule joondatud elementide stiil*/
.bottombar-item-left {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Footeri paremale joondatud elementide stiil*/
.bottombar-item-right {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Footeris kasutatud piltide stiil*/
.bottombar-item-right img {
    width:14px;
    height:14px;
}
